//settings
@import "../../settings/app.colors.style";
@import "../../settings/app.settings.style";

.btn {
  background-color: transparent;
  border: 2px solid transparent;
  font-size: $font-size-13;
  line-height: $line-height-16;
  font-weight: $font-weight-bold;
  padding: 10px 22px;
  border-radius: $border-radius-small;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $background-dark;
    transition: all 0.3s ease;
  }

  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }

  &_bordered {
    border-color: $border-dark;
    color: $text-dark;

    &:hover {
      color: $text-lighter;
    }
  }

  &_dark {
    background-color: $background-dark;
    color: $text-lighter;

    &:after {
      background-color: $background-light;
    }

    &:hover {
      color: $text-dark;
      border-color: $border-dark;
    }
  }

  &_small {
    width: 120px;
  }

  &_arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 0;
    border-radius: $border-radius-full;

    &:hover {
      .arrow {
        filter: brightness(0) invert(1);
      }
    }
  }
}
